:root {
	--progress: 0;
	--blanco: #FFFFFF;
	--negro: #202020;
	--azuladoMedio: #C6DCEE;
	--celeste: #E4EDFF;
	--piel: #D5D7E3;
	--gris: #7F7F7F;
	--verdosoClaro: #D5D7E3;
	--celestebordes: #BCE0FD;
	--highlight: #E4C7BD;
	--verdosoOscuro: #006C73;

	--guias: "Source Sans Pro";
	--titulos: "Helvetica";
	--big-stuff: "Bahnschrift";
	--texto-interior: "Arial";
}

body{
	display: flex;
	flex-direction: column;
	margin: 0;
	overflow-x: hidden
}

header {
	top: 0;
	left: 0;
	width: 100%;
	height: 130px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-direction: column;
	position: sticky;
	z-index: 100;
	background: var(--azuladoMedio);
	background: #C6DCEE no-repeat padding-box;
	border: none;
	opacity: 1;
	padding: 10px;
}

h1 {
	position: relative;
	top: 0;
	left: 60px;
	height: 40px;
	color: var(--negro);
	text-align: left;
	font: normal normal bold 40px/48px Helvetica;
	letter-spacing: 2px;
	opacity: 1;
	white-space: nowrap;
}

h2 {
	position: relative;
	top: 0;
	left: 0;
	height: 40px;
	color: var(--negro);
	text-align: left;
	font: normal normal 600 30px/43px Source Sans Pro;
	letter-spacing: 1px;
	opacity: 1;
	white-space: nowrap;
}

h3 {
	padding-left: 30px;
	font: normal normal bold 20px/30px Arial;
	letter-spacing: 0;
	color: var(--gris);
	text-align: left;
	opacity: 1;
}

label {
	display: block;
	margin-bottom: 5px;
	font: normal normal bold 10px/12px Arial;
	color: var(--gris);
}

.content-container {
	display: flex;
}
.nav-botones {
	display: flex;
	margin-left: 60px;
}

.nav-opcion {
	width: 120px;
	height: 45px;
	padding: 5px 10px;
	background-color: var(--azuladoMedio);
	border: 1px solid #707070;
	opacity: 1;
	border-radius: 4px 4px 0 0;
	margin-bottom: 10px;
	margin-right: 10px;
	font: var(--guias);
}

.formulario-escaneado {
	width: 60%;
	height: auto;
	float: left;
	background-color: var(--blanco);
	padding: 20px;
	overflow-y: auto;
}

.datos-formulario-escaneado {
	top: 247px;
	left: 163px;
	margin-left: 60px;
	min-height: 201px;
	width: 1047px;
	height: auto;
	background-color: var(--blanco);
	flex-direction: row;
	justify-content: space-between;
	opacity: 1;
	display: flex;
	flex-wrap: wrap;
	padding: 20px;
}

.elemento-formulario:required:valid {
	padding: 10px;
	box-sizing: border-box;
	background: var(--blanco) 0 0% no-repeat padding-box;
	border: 1px solid var(--celestebordes);
	border-radius: 4px;
	opacity: 1;
	margin-bottom: 10px;
}

.elemento-formulario:required:invalid {
	padding: 10px;
	box-sizing: border-box;
	border-radius: 4px;
	margin-bottom: 10px;
	background: var(--blanco) 0 0 no-repeat padding-box;
	border: 1px solid var(--verdosoOscuro);
	box-shadow: 0 0 10px #008C95A1;
	opacity: 1;
}

.form-field {
	width: calc(33.33% - 20px);
	box-sizing: border-box;
	margin-bottom: 20px;
}

.datos-confirmacion-datos-escaneados {
	position: fixed;
	right: 0;
	width: 35%;
	padding: 20px;
	box-sizing: border-box;
	background-color: var(--celeste);
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
	max-height: 100vh;
}

.pasos-digitador {
	opacity: 1;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 4px;
}

.pasos-digitador p{
	margin-right: 20px;
}

.paso-left {
	width: 80px;
	height: 8px;
	background: var(--gris) 0 0% no-repeat padding-box;
	border-radius: 4px 0 0 4px;
	opacity: 1;
}

.paso-right {
	width: 80px;
	height: 8px;
	background: var(--gris) 0 0% no-repeat padding-box;
	border-radius: 0 4px 4px 0;
	opacity: 1;
}

.paso-medio {
	width: 80px;
	height: 8px;
	background: var(--gris) 0 0% no-repeat padding-box;
	opacity: 1;
}

.paso-medio-highlight {
	width: 80px;
	height: 8px;
	background: var(--verdosoOscuro) 0 0% no-repeat padding-box;
	opacity: 1;
}

.instruccion {
	font-family: var(--guias);
	width: 275px;
	height: auto;
	background: var(--blanco) 0 0% no-repeat padding-box;
	border: 1px solid var(--verdosoOscuro);
	border-radius: 6px;
	opacity: 1;
	padding: 30px;
}

.circulo-de-progreso {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 259px;
	height: 265px;
	border-radius: 50%;
	background:
			radial-gradient(closest-side, var(--celeste) 95%, transparent 80%),
			conic-gradient(var(--verdosoOscuro) 75%, var(--celeste) 0);

}

.circulo-de-progreso::before {
	content: attr(data-progress);
	position: absolute;
	color: var(--verdosoOscuro);
	font-family: var(--guias);
	font-size: 75px;
}

.boton-estandar {
	width: 194px;
	height: 48px;
	background: var(--azuladoMedio) 0 0% no-repeat padding-box;
	border-radius: 4px;
	opacity: 1;
}